%h1
    Hola
    = @user.email
    , tienes una nueva tarea
%p
    %b Nombre
    = @task.name
%p
    %b Description
    = @task.description
%p
    %b Categoria
    = @task.category_name
%p
    %b Enlace
    = link_to @task.code, @task
